adium-theme-ubuntu==0.3.4
alabaster==0.7.7
astroid==1.4.4
Babel==1.3
backports.weakref==1.0rc1
beautifulsoup4==4.4.1
bleach==1.5.0
blessings==1.6
blinker==1.4
bpython==0.16
certifi==2017.4.17
chardet==3.0.4
curtsies==0.2.11
cvxopt==1.1.4
cycler==0.10.0
decorator==4.1.2
docutils==0.12
feedgenerator==1.9
funcsigs==1.0.2
functools32==3.2.3.post2
greenlet==0.4.12
h5py==2.7.0
html5lib==0.9999999
idna==2.5
ipython==2.4.1
jdcal==1.0
jedi==0.9.0
Jinja2==2.8
joblib==0.9.4
Keras==2.0.5
lazy-object-proxy==1.2.1
logilab-common==1.1.0
lxml==3.5.0
Markdown==2.2.0
MarkupSafe==0.23
matplotlib==2.0.2
mercurial==3.7.3
mock==2.0.0
networkx==1.11
nose==1.3.7
numexpr==2.4.3
numpy==1.13.1
olefile==0.44
openpyxl==2.3.0
pandas==0.17.1
patsy==0.4.1
pbr==3.1.1
pelican==3.7.1
pexpect==4.0.1
Pillow==4.2.1
pkg-resources==0.0.0
protobuf==3.3.0
psutil==3.4.2
ptyprocess==0.5
py==1.4.31
pyflakes==1.1.0
Pygments==2.1
pylint==1.5.2
pyparsing==2.2.0
pytest==2.8.7
python-dateutil==2.6.1
pytz==2017.2
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==15.2.0
requests==2.18.1
roman==2.0.0
rope==0.10.2
scikit-image==0.13.0
scikit-learn==0.18.1
scipy==0.19.1
scour==0.32
simplegeneric==0.8.1
simplejson==3.8.1
six==1.10.0
Sphinx==1.3.6
sphinx-rtd-theme==0.1.9
spyder==2.3.8
statsmodels==0.6.1
stevedore==1.23.0
subprocess32==3.2.7
tables==3.2.2
tensorflow-gpu==1.2.0
Theano==0.9.0
Unidecode==0.4.21
unity-lens-photos==1.0
urllib3==1.21.1
virtualenv==15.0.1
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
wcwidth==0.1.7
Werkzeug==0.12.2
wrapt==1.8.0
xlrd==0.9.4
xlwt==0.7.5
